<div id="div-about" class="card">
  <div class="card-body">
    <h1>Acerca de nosotros</h1>
    <p style="color: black; font-size: 100%; text-align: justify;">Somos una empresa de servicio con ánimo de lucro que busca suplir las
      necesidades de los estudiantes a la educación superior, buscando mejorar
      su competencia en la orientación a sus empleados. De esta manera la
      empresa logra satisfacer las necesidades mas urgentes de la secundaria en
      el que se trasladan con mayor frecuencia un gran números de estudiantes
      que cumplen los requisitos y pruebas para estar en la educación superior.
      <br>
      <br>
      Esta pequeña empresa tiene como característica orientar a los estudiantes
      a escoger su carrera universitaria que permita a los estudiantes enfocarse
      en la carrera de mayor continuidad, satisfacción, expectativa y
      responsabilidad a sus intereses. Esta empresa que abarca un número de
      empleados considerable, por ser pequeña contiene entre 11 y 50
      trabajadores que determinan la misión de la empresa para llevar a cabo sus
      funciones delegadas por superiores en el cumplimiento de las metas al
      interior de esta. 
      <br>
      <br>
      El logo de la empresa “tu vocación” encuentra tu
      verdadera pasión representa una idea innovadora y emprendedora para
      ilustrar a través de esta imagen lo que el estudiante puede alcanzar y
      lograr suficiente para abordar una comunicación con el cliente que esta en
      la expectativa de saber, de conocer etc. 
      <br>
      <br>
      Como empresa privada buscamos
      obtener beneficios económicos con la actividad desempeñado/a generando
      liquidez en la que se puedan mantener los recursos propios para prestar un
      mejor servicio y de calidad y también con recursos ajenos que se hayan
      financiado para poder cubrirlo en tiempo determinado.</p>
    <a href="/" class="btn btn-primary btn-lg">RAIZ</a>
  </div>
</div>