<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus dolores sed veritatis, nam tempore quod.
            Rerum asperiores molestiae quis corrupti, beatae autem quaerat libero est molestias, earum enim facere!
            Veniam tempora laudantium porro cumque quaerat. Optio quibusdam quae eius consequuntur.</p>
            <a href="/" class="btn btn-primary btn-lg">RAIZ</a>
    </div>
</div>