<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="/">
            <div id="div-span-logo">
                <img src="https://sheltered-lake-28843.herokuapp.com/public/img/png/libro.png" style="width: 150px; height: 60px" /> <br>
                <a class="navbar-brand" href="/"> <span style="color: orange;">tu</span> vocacion</a>
                <br>
                <p>ENCUENTRA TU VERDADERA PARSIÓN</p>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            {{#if user}}
            <form class="d-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Notes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/stady/university">Ver Universidades</a></li>
                        <li><a class="dropdown-item" href="/stady/universityadd">Agrerar Universidad</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                    </ul>
                </li>
            </form>
            {{else}}
            <div class="d-flex" style="margin-bottom: 2%;">
                <li>
                    <a class="nav-link active" aria-current="page" href="/users/signin">SignIn</a>
                </li>
                {{!-- <li>
                    <a class="nav-link" href="/users/register">SignUp</a>
                </li> --}}
            </div>

            {{/if}}
        </div>
    </div>
</nav>