{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
    </svg>
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Nueva Universidad</h3>
        </div>
        <div class="card-body">
            <form action="/stady/new-university" method="POST">
                <div class="form-grup">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre de la Universidad" autofocus>
                </div>
                <div class="form-grup">
                    <input type="text" name="ciudad" class="form-control" placeholder="Ciudad" >
                </div>
                <div class="form-grup">
                    <textarea name="contenido" class="form-control" placeholder="Contenido"></textarea>
                </div>
                <div class="form-grup">
                    <input type="text" name="arrayCarreras" class="form-control" placeholder="Carreras" >
                </div>
                <div class="form-grup">
                    <input type="text" name="link" class="form-control" placeholder="Link" >
                </div>
                <center>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" >
                            Save
                        </button>
                    </div>
                </center>
            </form>
        </div>
    </div>
</div>